.wrapper {
}

.text-voice {
    font-size: 28px;
    font-weight: 600;
    font-family: var(--font-family-1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px;
    margin-top: 20px;
}
