@keyframes wobble {
    0%,
    100% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(-5px) rotate(-5deg);
    }
    30% {
        transform: translateX(5px) rotate(5deg);
    }
    45% {
        transform: translateX(-5px) rotate(-5deg);
    }
    60% {
        transform: translateX(5px) rotate(5deg);
    }
    75% {
        transform: translateX(-5px) rotate(-5deg);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.menu-list {
    width: 228px;
    border: 0.5px solid #cacaca;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
    .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: max-content;
        padding: 10px 20px;
        .icons-item {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: transform 0.2s;
            &:hover {
                animation:
                    wobble 1s infinite,
                    bounce 2s infinite;
            }
        }
    }
}

.btn-handle {
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    border-radius: 50%;
    transition: all 200ms ease-in-out 0s;
    width: 48px;
    height: 48px;
    background-color: rgba(22, 24, 35, 0.06);
}

.bg-none {
    background-color: rgba(22, 24, 35, 0) !important;
}
