.wrapper {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 16px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  min-height: 36px;
  justify-content: center;
  &.size-136-36-4 {
    min-width: 136px;
    height: 36px;
    color: rgb(22, 24, 35);
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgb(255, 255, 255);
    line-height: 24px;
    &:hover {
      border-color: rgb(208, 209, 211);
      background-color: rgb(248, 248, 248);
    }
  }
  &.size-164-36-4 {
    min-width: 164px;
    height: 36px;
    color: rgb(254, 44, 85);
    border-color: rgb(254, 44, 85);
    background-color: rgb(255, 255, 255);
    line-height: 22px;
    &:hover {
      background-color: rgba(254, 44, 85, 0.06);
    }
  }
  &.size-208-36-4 {
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    font-size: 18px;
    min-width: 208px;
    height: 36px;
    padding: 6px 8px;
    &:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
  }
}