.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 10px;
}

.posts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.viewer-post {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(22, 24, 35, 0.6);
  overflow: auto;

  .inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
}
