.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: calc(100% - var(--width-navbar));
    min-height: calc(100vh - var(--height-header));
    margin-left: var(--width-navbar);
}
