.wrapper {
    width: 100%;
    height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    background-color: var(--white);
    border-bottom: 1px solid #d1d1d1;
    box-shadow:
        3px 3px 6px #dedddd,
        -3px -3px 6px var(--white);
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
}

.logo {
    color: var(--color-text);
    font-size: 28px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.img-user {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-menu {
    margin-left: 10px;
}

.header-right-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchcus {
    margin-right: 30px;
}
